<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Students</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <h1 class="title">Add a New Quote</h1>

    <form class="form" action="/add" method="POST">

        <label for="quote">Quote:</label>
        <input type="text" name="quote" required>

        <label for="author">Author:</label>
        <input type="text" name="author" required>

       


        <button class="btn" type="submit">Save Quote</button>
    </form>

    <a class="back" href="/">Back To Home</a>


    
</body>
</html>